// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #2f5ede;
$secondary : #9DAAF2;
$accent    : #FF6A3D;
$underline : #F4DB7D;

$dark      : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
